.dark-feature{
    padding: 100px 0;
    background-color: #1C1018;
    .dark-feature-wrapper{
        max-width: 950px;
        margin: 70px auto 0;
        .dark-feature-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            z-index: 2;
            .feature-cercle{
                height: 100px;
                width: 100px;
                background-color: $secondaryColor;
                border-radius: 50%;
                @include d-center;
                font-size: 55px;
                font-weight: 700;
                color: #000;
                z-index: 2;
            }
            .cercle-after{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 560px;
                    background-color: $whiteColor;
                    left: 100px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }
            }
            h4{
                font-size: 20px;
                line-height: 30px;
                color: $whiteColor;
                font-weight: 500;
                padding-top: 15px;
                text-transform: uppercase;
            }
            p{
                color: #d2d0d0e4;
                font-weight: 300;
                font-size: 15px;
            }
        }
    }

    .dark-counter{
        padding-top: 120px;
        .counter-wrap{
            text-align: center;
            h5{
                font-size: 30px;
                color: $whiteColor;
                span{
                    font-size: 50px;
                    font-weight: 700;
                }
            }
            h6{
                font-size: 15px;
                color: $whiteColor;
                font-weight: 400;
                text-transform: uppercase;
                padding-top: 10px;
                font-family: $secondaryFont;
            }
        }
    }
}

.feature{
    padding: 70px 0;
}

.feature-wrapper{
    padding-top: 40px;
}
.feature-item{
   .row{
    padding-top: 160px;
    &:first-child{
        padding-top: 80px;
    }
    &:nth-child(even){
       flex-direction: row-reverse;
    }

    .feature-content{
        h4{
            font-size: 40px;
            font-weight: 600;
            color: $blackColor;
            line-height: 50px;
        }
        p{
            color: $textColor;
        }
    }
    .feature-img{
        display: flex;
        justify-content: center;
        position: relative;
        img{
            max-height: 450px;
            width: auto;
            max-width: 100%;
            object-fit: contain;
            border-radius: 26px;
        }
        .feature-shape{
            position: absolute;
            top: -60px;
            right: 0;
            z-index: -1;
            img{
                max-height: 300px;
            }
        }
    }
   }
}