/*   Variable List
-----------------------------------*/

// Colors
$primaryColor: #2169ee ;
$secondaryColor: #f7c934;
$thirdColor:#ff9800;
$blackColor: #333;

$whiteColor:#fff; 
$offwhiteColor:#e8e8e8; 
$redColor:#FF4A4A;
$greenColor: #19891f;
$yellowColor: #F5EA5A;
$textColor: #5f5b5b;
$hoverPrimary: #4654cf;

// Fonts Family
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Merriweather', serif;


$transition: all 0.3s ease-in-out;
// Border-Color
$primary-border: #e6e2e3;
$secondary-border: #5e58583b;

// background 
$primary-background: #bebbbbd4;

// Box-Shadow 
$primaryBoxShadow: 1px 1.332px 3px 1px rgba(163, 161, 161, 0.221);
$secondary-boxShadow: 1px 1.332px 4px 2px rgb(163 161 161 / 30%);


// font-family: 'Kalnia', serif;
